/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animaci칩n para la aparici칩n de las reinas */
@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-10px);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.queen-animate {
  /* Aplica la animaci칩n 'popIn' en 0.4 segundos */
  animation: popIn 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  /* Sombra para darle efecto 3D */
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

/* Un fondo de tablero m치s sutil */
.board-cell-dark {
  background-color: #374151; /* gray-700 */
}
.board-cell-light {
  background-color: #4b5563; /* gray-600 */
}